{:paths ["."]
 :tasks
  {task-shret1 {:requires ([helpers]) :task (helpers/ret1)}
   
   task-raise {:requires ([helpers]) :task (helpers/raise)}
  
   task-ret1 (do (shell "gcc" "ret1.c" "-o" "ret1")
                 (shell "./ret1"))}}
